<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>FlightManagementSystem</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>utilities.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>utilities.Registration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>utilities.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FlightSearchQuery</display-name>
		<servlet-name>FlightSearchQuery</servlet-name>
		<servlet-class>utilities.FlightSearchQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightSearchQuery</servlet-name>
		<url-pattern>/FlightSearchQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FlightSearchResultServlet</display-name>
		<servlet-name>FlightSearchResultServlet</servlet-name>
		<servlet-class>utilities.FlightSearchResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightSearchResultServlet</servlet-name>
		<url-pattern>/FlightSearchResultServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAndBookServlet</display-name>
		<servlet-name>ViewAndBookServlet</servlet-name>
		<servlet-class>utilities.ViewAndBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAndBookServlet</servlet-name>
		<url-pattern>/ViewAndBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TransactionConfirmation</display-name>
		<servlet-name>TransactionConfirmation</servlet-name>
		<servlet-class>utilities.TransactionConfirmation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionConfirmation</servlet-name>
		<url-pattern>/TransactionConfirmation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookingHistory</display-name>
		<servlet-name>BookingHistory</servlet-name>
		<servlet-class>utilities.BookingHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingHistory</servlet-name>
		<url-pattern>/BookingHistory</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>Shoppingcart</display-name>
		<servlet-name>Shoppingcart</servlet-name>
		<servlet-class>utilities.Shoppingcart</servlet-class>
	</servlet>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<servlet-mapping>
		<servlet-name>Shoppingcart</servlet-name>
		<url-pattern>/Shoppingcart</url-pattern>
	</servlet-mapping>
</web-app>